/* .border-bottom {
  border-bottom: 2px solid #F50057;
  transition: border-bottom 2.4s ease, color 0.4s ease;
 
}
html.dark .border-bottom {
  border-bottom-color: #F50057;  
}

html, body, #__nuxt, .v-application {
  transition: background-color 0.4s ease, color 0.4s ease;
} */

.v-btn:hover {
  color: #F50057 !important;
  opacity: 1 !important;
}
.active-btn .v-btn__content {
  color: #F50057 !important;
  background-color: #F50057;
  font-weight: 600;
  opacity: 1 !important;
}
